<form #formulario="ngForm" (ngSubmit)="addActivity(formulario)" autocomplete="off">
  <div class="form-group">
    <label for="title">Titulo</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Hacer..." ngModel>
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Cómo?" ngModel>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>