<div class="list-group">
  <a><img src="assets/avatars/cooper.jpg" style="border-radius:100%;" width="100px;"/></a>
  <button (click)="loadComponent('home')" type="button" [class.active]="selected == 'home'" class="list-group-item">Home</button>
  <button (click)="loadComponent('equipos')" type="button" [class.active]="selected == 'equipos'" class="list-group-item">Equipos</button>
  <button (click)="loadComponent('tareas')" type="button" [class.active]="selected == 'tareas'" class="list-group-item">Tareas</button>
</div>